<div ui-view></div>

<div class="row">
    <div ng-show="$state.is('payment')" id="payment" class="page col-xs-12">
        <!--<div ng-show="message" ng-class="{info:message.type=='info',error:message.type=='error'}">
            <span ng-bind="message.text"></span>
            <i ng-click="message = ''" >x</i>
        </div>
        <div ng-show="paymentId">
            share this ...
        </div>-->

        <div ng-show="!task.$resolved" class="loader">Loading...</div>

        <h1 ng-if="showTitle" ng-bind=task.result.script.title></h1>
        <div class="taskMessage" ng-bind="task.result.script.message" ng-if="task.result.script.message"></div>
        <div class="row" ng-show="!showPreview && task.result.addresses.length > 0">
            <fieldset class="form-group task-address" ng-repeat="address in task.result.addresses">
                <div class="col-xs-12">
                    <h2 class="row">
                        <div class="col-xs-8">Pay to BTC address</div>
                        <div class="col-xs-4">
                            <a ng-href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin:{{ address.address }}" target="_blank" class="btn btn-primary btn-xs btn-block">
                                BTC QR code
                            </a>
                        </div>
                    </h2>
                    <a ng-href="{{ 'bitcoin:' + address.address }}" class="btn btn-bitcoin btn-block">
                        <img src="https://mobbr.com/img/bitcoin-icon.png" width="16">
                        <span  ng-bind="address.address"></span>
                    </a>
                </div>
            </fieldset>
        </div>
        <form name="formHolder.pledgeForm" ng-show="task.$resolved && !paymentId">
            <div>
                <fieldset ng-show="mobbrSession.isAuthorized()" ng-disabled="!task.$resolved || paymentId || (showPreview && !paymentId) || (previewLoading && !previewLoading.$resolved) || (confirmLoading && !confirmLoading.$resolved)">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Pay from your Mobbr wallet</h2>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control"
                                    required
                                    ng-init="currency = $mobbrStorage.user.currency_iso || 'EUR'"
                                    ng-model="currency"
                                    ng-options="curr.currency_iso as curr.currency_iso for curr in userCurrencies"></select>
                        </div>
                        <div class="col-xs-6">
                            <input class="form-control"
                                   required
                                   type="number"
                                   ng-model="amount"
                                   step="any"
                                   min="0"
                                   max="1000000000">
                        </div>
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="form.wantInvoices">
                                    I want invoices
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="buttons" ng-disabled="(previewLoading && !previewLoading.$resolved) || (confirmLoading && !confirmLoading.$resolved)">
                    <div class="row" ng-show="mobbrSession.isAuthorized() && !showPreview">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-block" ng-click="preview(true)" ng-show="task.result.script.type != 'pledge'" ng-disabled="(!amount || !currency) || (showPreview && !paymentId)">Preview payment
                                <i class="glyphicon mobbrloader" ng-show="!performing && previewLoading && !previewLoading.$resolved"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="!mobbrSession.isAuthorized()">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-block" ng-click="$state.go('payment.login')">Login to pay with Mobbr</button>
                        </div>
                    </div>
                    <div class="row" ng-show="(showPreview || task.result.script.type == 'pledge') && mobbrSession.isAuthorized()">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-block" ng-click="performPayment()" ng-disabled="!formHolder.pledgeForm.$valid" ng-bind="(task.result.script.type == 'pledge' ? 'Pledge' : 'Pay')"></button>
                        </div>
                    </div>
                    <div class="row" ng-show="showPreview && mobbrSession.isAuthorized()">
                        <div class="col-xs-12">
                            <button class="btn btn-danger btn-block" ng-click="showPreview = null;" >Cancel</button>
                        </div>
                    </div>
                    <div class="row" ng-show="!showPreview">
                        <div class="col-xs-12">
                            <a ng-href="{{ uiUrl }}/#/task/{{ taskUrl }}/view" class="btn btn-primary btn-block" target="_blank">View this task on Mobbr</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="col-xs-12" ng-show="(previewLoading && !previewLoading.$resolved) || (confirmLoading && !confirmLoading.$resolved)">
        <div class="loader">Loading...</div>
    </div>
    <div ng-show="$state.is('payment') && showPreview && !paymentId" class="page">
        <table class="table" ng-show="previewScript">
            <thead class="hidden">
            <tr>
                <th>

                </th>
                <th>
                    NAME
                </th>
                <th>
                    %
                </th>
                <th>
                    AMOUNT
                    <div>currency</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="participant in previewScript.participants">
                <td>
                    <img ng-src="https://secure.gravatar.com/avatar/{{ participant['.gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                         width="50"
                         height="50">
                </td>
                <td class="username">
                    {{participant['id'] | decodeuri}}
                    <div ng-bind="participant.role"></div>
                </td>
                <td ng-bind="(participant['.percentage'] | number : 0) + '%'"></td>
                <td>
                    {{participant['.amount'] | mobbrcurrency:''}}
                    <div>{{previewScript['.currency']}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>