<div class="row" ng-show="noScript">
    <div class="page col-xs-12">
        <h1>This URL has no Mobbr support... Yet.</h1>
        <p>Mobbr is a payment system for online collaboration.</p>
        <a ng-href="{{ uiUrl + '/#/task/' + encodeTask(url) + '/script' }}" target="_blank" class="btn btn-success btn-block">Add crowd-funding and -paying now</a>
        <a ng-href="{{ uiUrl + '/#/tasks/' }}" target="_blank" class="btn btn-primary btn-block">Join these tasks, earn money</a>
    </div>
</div>

<div class="row grayfield related-tasks">
    <a ng-repeat="url in relatedTasks.result" ng-href="{{ uiUrl + '/#/task/' + encodeTask(url.url) }}" target="_blank">
        <div class="col-xs-12 col-sm-4 col-md-3 data-card-container">
            <div class="data-card" ng-class="{ 'data-card-highlight': url.is_pledge == '1' }">
                <div class="top">
                    <h3 ng-bind="url.title"></h3>
                    <p ng-bind="url.description"></p>
                </div>
                <div class="bottom">
                    <div class="item large tasks">
                        <span ng-bind="url.match_percentage + '%'"></span>
                        <span class="mobbricon mobbricon-tag"></span>
                    </div>
                    <div class="item large amount">
                        <span ng-bind-html="url.amount_total | mobbrcurrency:url.currency_iso:true"></span>
                        <span class="mobbricon mobbricon-payments"></span>
                    </div>
                    <div class="item">
                        <span ng-bind="url.domain"></span>
                        <span class="mobbricon mobbricon-domain"></span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>